[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "*"
bandit = "*"
pylint = "*"
django-nose = "*"
pylint-django = "*"

[packages]
django = "*"
python-decouple = "*"
djangorestframework = "*"
django-cors-headers = "*"
graphene-django = "*"
django-graphql-jwt = "*"
djangorestframework-jwt = "*"

[requires]
python_version = "3.7"
