<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block title %}<title>Sequoia</title>{% endblock %}

  {% load static %}
  <link href="{% static 'main/style.css' %}" rel="stylesheet">
</head>
<body>

{% block topbar %}
<nav class="topnav">
  <span><a class="active" href="{% url 'main:index' %}">Data Entries</a></span>
  <span><a>Reports</a></span>
  <span><a>Dashboards</a></span>
  <span><a>Settings</a></span>

  <div class="login">
  {% if user.is_authenticated %}
    <span><a>User: {{ user.get_username }}</a></span>
    <span><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></span>
  {% else %}
    <span><a href="{% url 'login'%}?next={{request.path}}">Login</a></span>
  {% endif %}
  </div>
</nav>
{% endblock %}

<div style="padding-left:16px; padding-top:30px";>
  {% block content %}{% endblock %}
</div>

</body>
</html>
