<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block title %}<title>Sequoia</title>{% endblock %}

  {% load static %}
  <link href="{% static 'main/style.css' %}" rel="stylesheet">
</head>
<body>

{% block topbar %}
<nav class="topnav">
  <span><a class="active" href="{% url 'main:index' %}">Data Entries</a></span>
  <span><a href="">Reports</a></span>
  <span><a href="">Dashboards</a></span>
  <span><a href="">Settings</a></span>
  <span class="login"><a href="{% url 'login' %}">Login</a></span>
</nav>
{% endblock %}

<div style="padding-left:16px; padding-top:30px";>
  {% block content %}{% endblock %}
</div>

</body>
</html>
