{% extends "main/base_generic.html" %}

{% block content %}

<table>
  <tr>
    <th>Transaction Date</th>
    <th>Custom Description</th>
    <th>Expense</th>
    <th>Revenue</th>
    <th>Store</th>
    <th>Account</th>
    <th>Category</th>
    <th>SubCategory</th>
    <th>Status</th>
    <th>Tags</th>
  </tr>
{% if latest_transaction_list %}
    {% for transaction in latest_transaction_list %}
    <tr>
        <td>{{ transaction.transaction_date|default_if_none:""|date:"Y-m-d" }}</td>
        <td><a href="{% url 'main:detail' transaction.id %}">{{ transaction.custom_description|default_if_none:"" }}</a></td>
        <td>{{ transaction.expense|default_if_none:"" }}</td>
        <td>{{ transaction.revenue|default_if_none:"" }}</td>
        <td>{{ transaction.store|default_if_none:"" }}</td>
        <td>{{ transaction.account|default_if_none:"" }}</td>
        <td>{{ transaction.category|default_if_none:"" }}</td>
        <td>{{ transaction.subcategory|default_if_none:"" }}</td>
        <td>{{ transaction.status|default_if_none:"" }}</td>
    </tr>
    {% endfor %}
</table>
{% else %}
    <p>No transactions are available.</p>
{% endif %}

{% endblock %}
