{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}" />

<table>
  <tr>
    <th>Transaction Date</th>
    <th>Custom Description</th>
    <th>Expense</th>
    <th>Revenue</th>
    <th>Store</th>
    <th>Account</th>
    <th>Category</th>
    <th>SubCategory</th>
    <th>Status</th>
    <th>Tags</th>
  </tr>
{% if latest_transaction_list %}
    {% for transaction in latest_transaction_list %}
    <tr>
        <td>{{ transaction.transaction_date }}</td>
        <td><a href="{% url 'main:detail' transaction.id %}">{{ transaction.custom_description }}</a></td>
        <td>{{ transaction.expense }}</td>
        <td>{{ transaction.revenue }}</td>
    </tr>
    {% endfor %}
</table>
{% else %}
    <p>No transactions are available.</p>
{% endif %}
